.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
.chat-container {
    border: 1px solid #ccc;
    height: 70vh;
    max-height: 100vmin;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 10px;
    width: 60vh;
  }
  
  .chat-message {
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    width: fit-content;
    text-align: right;
  }
  
  .message-input {
    display: flex;
    width: 60vh;
    align-items: center;
    margin-top: 20px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #0074cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0058a2;
  }